<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image Search</title>
</head>

<body>
  <form class="search-form" id="search-form">
    <input type="text" name="searchQuery" autocomplete="off" placeholder="Search images..." />
    <button type="submit">Search</button>
  </form>

  <div class="gallery">
    <!-- Image cards -->
  </div>


  <button type="button" class="load-more button-center" style="display: none;">Load more</button>


  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/notiflix@2.8.0/dist/notiflix-aio-2.8.0.min.js"></script>
  <script src="/node_modules/simplelightbox/dist/simple-lightbox.min.js"></script>
</body>

</html>